.solution{
    &__title{
        margin-bottom: 40px;
        text-align: center;
        @media(max-width: $md3 + px){
            margin-bottom: 20px;
        }
    }
    &__swithers{
        display: flex;
        justify-content: space-between;
        column-gap: 8px;
        margin-bottom: 20px;
        @media(max-width: $md3 + px){
            display: none;
        }
    }
    &-switcher{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 12px 0;
        width: 100%;
        background: #FFFFFF;
        border-radius: 8px;
        cursor: pointer;
        transition: all 0.5s;
        &:hover{
            background: $hover;
        }
        &_active{
            pointer-events: none;
            background: $yellow;
        }
        &__icon{
            margin-right: 13.5px;
        }
        &__label{
            font-weight: 500;
            font-size: 16px;
            line-height: 22px;
        }
    }
    &__tabs{
        display: flex;
        width: 100%;
        @media(max-width: $md3 + px){
            flex-direction: column;
            row-gap: 30px;
        }
    }
    &-tab{
        display: none;
        align-items: center;
        width: 100%;
        border: 1px solid #FFFFFF;
        backdrop-filter: blur(24px);
        border-radius: 24px;
        background: $bg_white;
        @media(max-width: $md3 + px){
            display: flex;
            flex-direction: column;
            align-items: stretch;
        }
        &_active{
            display: flex;
        }
        &__body{
            display: flex;
            flex-direction: column;
            padding: 50px 40px 56px;
            flex: 0 0 50%;
            @media(max-width: $md4 + px){
                padding: 20px 20px 30px;
            }
        }
        &__header{
            display: flex;
            align-items: center;
            margin-bottom: 30px;
        }
        &__title{
            margin-right: 6px;
        }
        &__icon{
            width: 41px;
            height: 41px;
            background: rgba(56, 108, 246, 0.06);
            border-radius: 7px;
        }
        &__description{
            max-width: 500px;
            margin-bottom: 20px;
            font-size: 16px;
            line-height: 24px;
            color: $secondary;
        }
        &__list{
            display: flex;
            flex-direction: column;
            row-gap: 7px;
            counter-reset: item;
            margin-bottom: 50px;
        }
        &__point{
            font-size: 16px;
            line-height: 26px;
        }
        &__point::before{
            content: counter(item, decimal-leading-zero) ". ";
            counter-increment: item;
            color: $blue;
        }
        &__btn{
        }
        &__link{
            font-size: 18px;
            line-height: 26px;
            cursor: pointer;
            @media(max-width: $md2 + px){
                font-size: 16px;
                line-height: 22px;
            }
            &:hover{
                text-decoration: underline;
            }
        }
        &__content{
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 0 0 50%;
            height: 100%;
            padding: 0 36px;
            border-radius: 24px;
            background: $stroke;
            @media(max-width: $md3 + px){
                height: auto;
                padding: 20px;
            }
        }
        &__img{
            max-height: 100%;
            max-width: 100%;
        }
        &__buttons{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 20px
        }
    }
}